<html ng-app="OrganizadorDeSeries">
<head>
    <meta charset="UTF-8">
    <title>Organizador de Séries</title>
    <link rel="stylesheet" type="text/css" href="css/tema.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/OrganizadorSeriesController.js"></script>

</head>
<body class="center-block container text-center" ng-controller="OrganizadorSeriesController">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{app}}</a>
            <a class="navbar-btn btn btn" href="#" onclick="location.href = 'https://github.com/LDVictor/';">Meu repositório do GitHub.com</a>
        </div>
    </div>
</nav>

<ul class="nav navbar-nav" >
    <li class="active" ><a href="#">Home</a></li>
    <li><a href="#">Pesquisar</a></li>
    <li><a href="#">Minhas Séries</a></li>
    <li><a href="#">WatchList</a></li>
</ul>

<table ng-show="series.length > 0" class="table">
    <th>
    <td>Nome</td>
    <td>Sinopse</td>
    <td>Classificação</td>
    <td>IMDb</td>
    <td>Sua Nota</td>
    <td>Imagem</td>
    </th>
    <tr ng-repeat="serie in series">
        <td> </td>
        <td>{{serie.Title}}</td>
        <td>{{serie.Plot}}</td>
        <td>{{serie.Rated}}</td>
        <td>{{serie.imdbRating}}</td>
        <td>{{serie.avaliacaoDoUsuario}}</td>
        <td><img ng-src="{{serie.Poster}}" height="140" width="90"></td>
        <td><button type="submit"  class="btn btn-warning btn-xs button" ng-click="apagarSerie(serie)">Remover</button></td>
    </tr>
</table>

<table ng-show="series.length > 0" class="table">
    <th>
    <td>Nome</td>
    <td>Sinopse</td>
    <td>Classificação</td>
    <td>IMDb</td>
    <td>Imagem</td>
    </th>
    <tr ng-repeat="serie in watchlist">
        <td> </td>
        <td>{{serie.Title}}</td>
        <td>{{serie.Plot}}</td>
        <td>{{serie.Rated}}</td>
        <td>{{serie.imdbRating}}</td>
        <td><img ng-src="{{serie.Poster}}" height="140" width="90"></td>
        <td><button type="submit"  class="btn btn-warning btn-xs button" ng-click="adicionarSerie(serie)">Adicionar</button></td>
        <td><button type="submit"  class="btn btn-warning btn-xs button" ng-click="apagarSerieDoWatchlist(serie)">Remover</button></td>
    </tr>
</table>


<td> </td>

<input class="form-control" type="text" ng-model="nome" name="nome" placeholder="Digite o nome da serie que quer pesquisar: "/>
<button class="btn btn-success btn-xs button" ng-click="pesquisarSerie(nome)" ng-disabled="nome.length == 0">Pesquisar Serie</button>

<table class="table">
    <tr ng-repeat="serie in seriesSearch">
        <td>{{serie.Title}}</td>
        <td><img ng-src="{{serie.Poster}}" height="140" width="90"></td>
        <td><button type="submit"  class="btn btn-warning btn-xs button" ng-click="adicionarSerie(serie)">Adicionar</button></td>
        <td><button type="submit"  class="btn btn-warning btn-xs button" ng-click="adicionarSerieAoWatchlist(serie)">Adicionar ao Watchlist</button></td>
    </tr>
</table>

</body>
</html>
